.createneweventwrapper {
    margin-top: 17%;
    text-align: center;
    height: 30px;
}

.createneweventwrapper button {
    background-color: #00356B;
    color: white;
    border: none;
    border-radius: 10px;
    width: 22vw;
    height: 4vw;
    cursor: pointer;
    font-size: 1.3vw;
}

.eventcodewrapper {
    margin-top: 5.5%;
    text-align: center;
    height: 30px;
}

.eventcodewrapper button {
    margin-top: 5%;
    background-color: #00356B;
    color: white;
    border: none;
    border-radius: 10px;
    width: 22vw;
    height: 4vw;
    cursor: pointer;
    font-size: 1.3vw;
}

.background {
    background-image: url('./landingbackground.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.loginbuttons {
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
    /* align-items: center;
    justify-content: center; */
}
