

/*Divs for individual calendars (schedulee, combine, admin)*/
.schedulesdiv {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 8%;
  margin-bottom: 6%;
}

.memberselectdiv {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 6%;
  margin-bottom: 6%;
  /* display: inline-block; */
}

.dropdownandbutton {
  display: flex;
  /* margin-left: 2.5%; */
  height: 0vh;
  width: 92.5%;
}

.schedulee {
  display: flex;
  align-items: center;
  left: 0;
  width: 50%;
  margin-right: 3%;
}

.scheduleetitle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7.5%;
  margin-left: 16%;
  align-items: center;
  justify-content: center;
}

.combine {
  /* display: flex; */
  /* align-items: center;
  margin-top: 12%;
  width: 100%;  */
  display: flex;
  right: 0;
  width: 50%;
  margin-left: 3%;
}

.combinetitle {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7.5%;
  margin-right: 15%;
  align-items: center;
  justify-content: center;
}

.admin {
  display: flex;
  align-items: center;

}
/*Container: Contains entire calendar component*/
.container {
  display: flex;
  width: 100%;
  margin-top: 10%;
  
  /* height: 80vh; This needs to flex depending on length of time*/
  font-family: 'Roboto', sans-serif;
  /* border: 0.5px solid #D0CFCF; */
  /* overflow: auto; */

}

p { 
  font-weight: lighter;
}

 
.TimeColumn .label { 
  height: 48px;
} 

/*Contains the weekday names (i.e MON)*/
.label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  font-weight: 100;
  font-size: auto;
  height: 10%; 
  display: block;
  text-align: center;
  line-height: 70%;
  margin-block-start: 1em;
}

.date {
  /* text-align: center; */
  margin-block-start: 0.8em;
}

.date_combined {
  margin-block-start: 0.8em;
}

.timezone { /*EST*/
  border-bottom: 1px solid white;
}

/*Previous and Next buttons*/
.button {
  background-color: transparent;
  color: #D0CFCF;
  border: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

.button:hover {
  color: hsl(210, 100%, 90%); /* change the color when the button is hovered */
}
#time {
  border: 0.5px solid white;
}
#time_combined {
  border: 0.5px solid white;
}
#time_admin {
  border: 0.5px solid white;
}


/*--------------------------------------*/
/*Column component, runs down the screen. 8 columns total, 1 for the time and 1 for each day*/
.column {
  width: 12.5%; /* 100 / 8 */
  height: auto;
  border: 0.5px solid #D0CFCF;

}
/*--------------------------------------*/
.column_combined {
  width: 12.5%; /* 100 / 8 */
  height: auto;
  border: 0.5px solid #D0CFCF;

}
/*--------------------------------------*/
.column_admin {
  width: 12.5%; /* 100 / 8 */
  height: auto;
  border: 0.5px solid #D0CFCF;

}


/*--------------------------------------*/
.Weekday .box { /*Boxes within the calendar*/
  height: 10px;
  background-color: white;
  border: .5px solid #EEEEEE;
  /*display: block;*/
  position: relative;
}
.box.is-divisible-by-4 {
  border-bottom: .5px solid #D0CFCF;
}

/*--------------------------------------*/

/*--------------------------------------*/
.Weekday .box_combined { /*Boxes within the calendar*/
  height: 10px;
  background-color: white;
  border: .5px solid #EEEEEE;
  /*display: block;*/
  position: relative;
}
.box_combined.is-divisible-by-4 {
  border-bottom: .5px solid #D0CFCF;
}
/*--------------------------------------*/

/*--------------------------------------*/
.Weekday .box_admin { /*Boxes within the calendar*/
  height: 10px;
  background-color: white;
  border: .5px solid #EEEEEE;
  /*display: block;*/
  position: relative;
}
.box_admin.is-divisible-by-4 {
  border-bottom: .5px solid #D0CFCF;
}



.box_admin .tooltiptext {
  visibility: hidden;


  color: black;
  text-align: center;

 


  position: relative;
  z-index: 1;
}

.box_admin:hover .tooltiptext {
  visibility: visible;
}
/*--------------------------------------*/



/*--------------------------------------*/
.TimeColumn .box { /*Aligning the times to the center-right*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  color: black;
  padding-right: 10px;
  font-weight: lighter;
  height: 43px;
}
/*--------------------------------------*/
.TimeColumn .box_combined { /*Aligning the times to the center-right*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
 
  color: black;
  padding-right: 10px;
  font-weight: lighter;
  height: 43px;
}
/*--------------------------------------*/
.TimeColumn .box_admin { /*Aligning the times to the center-right*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  color: black;
  padding-right: 10px;
  font-weight: lighter;
  height: 43px;
}
.invisible { /*This class is added to parts of the calendar that is outside of the time range*/
  display: none !important;
}


/*-------------------CSS for location select component--------------------*/
table {
  /*border: 2px solid black;*/
  /* background-color: #aaa; */
  width: 30vw;
  /* border-radius: 8px; */
  /*overflow: hidden;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
  border-collapse: collapse;
}

@media (width < 951px) {
  table {
    width: 360px;
  }

  tbody {
    font-size: 13px;
  }

  .locationhead {
    font-size: 13px;
  }

  .voteshead {
    font-size: 13px;
  }
}

/* @media (width < 1400px) and (width > 600px) {
  table {
    font-size: 1vw;
  }
} */
  
th {
  /* border-bottom: 1px solid black; */
  padding: 3px;
}
  
td {
  text-align: center;
  padding: 9px 0px 9px 0px; /*To change spacing between rows*/
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}

tr, tbody {
  display: block;
  text-align: center;
}

@media (width > 950px) {
  tbody {
    font-size: 90%;
  }  
}

tr.data:hover {
  background-color: rgba(1,53,107,255);
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.locationhead {
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.voteshead {
  text-align: center;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
/* 
.lochead {
  border-bottom: 1px solid lightgray;
}

.vothead {
  margin-right: 50%;
  border-bottom: 1px solid lightgray;
} */

.location {
  padding-left: 0.5vw;
  text-align: center;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.numberofvotes {
  text-align: center;
  padding-left: 1.7vw;
  border-bottom: 1px solid lightgray;
}

tbody {
  height: 175px;
  overflow: auto;
}

.votes {
  padding-left: 40px;
}

.userTableContainer {
  margin-right: 5%;
}

.userTitle {
  position: absolute;
  margin-bottom: 22%;
  margin-left: -40%;
}

.adminTitle {
  position: relative;
  margin-bottom: 12%;
  margin-left: 38%;
}

.adminTableContainer {
  position: absolute;
  margin-left: 40%;
}

.selection {
  position: relative;
  margin-top: 20%;
  text-align: center;
}

.location {
  width: 55%;
}

.locationhead {
  width: 50.8%;
  /* width: 47.2%; */
}

@media (width < 1400px) and (width > 1275px) {
  .locationhead {
    width: 50.2%;
  }
}

@media (width < 1276px) and (width > 1150px) {
  .locationhead {
    width: 49.8%;
  }
}

@media (width < 1151px) and (width > 1050px) {
  .locationhead {
    width: 49.5%;
  }
}

@media (width < 1051px) and (width > 950px) {
  .locationhead {
    width: 48.8%;
  }
}

.voteshead {
  width: 45%;
}

.numberofvotes {
  width: 45%;
  padding-right: 5%;
}

.memberselect {
  /* position: absolute; */
  /* top: 0; */
  width: 50%;
  height: 100%;
  top: 0;
  /* margin-bottom: 3%; */
  margin-left: 3.7%;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  /* font-size: small; */
}

.dropdown-container {
  width: 320px;
  position: relative;
}

.dropdown {
  border: 1.5px solid black;
  width: 100%;
  border-bottom: none;
  box-sizing: border-box;
  position: absolute;
  /* left: 0; */
  top: 40px;
  display: none;
  height: 250px;
  overflow-y: scroll;
  font-size: 90%;
}

.dropdown.visible {
  display: block;
}

.dropdown-container .dropdown.visible {
  bottom: 100%;
  top: auto;
}

.option {
  height: 36px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
}

.option:hover {
  background-color: rgba(1,53,107,255);
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.input-container {
  position: relative;
  width: 100%;
  margin-left: 1%;
}

.dropdown-container input {
  width: 100%;
  padding: 0;
  border-width: 1px;
  height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 95%;
}

.input-arrow-container {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.input-clean-container {
  position: absolute;
  right: 30px;
  top: 55%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input-clean {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.confirmselection {
  margin-top: 10%;
  font-size: medium;
}




.next-button-wrapper1 {
  display: grid;
  justify-items: end;
  height: 60px;
  margin-top: 0%;
  margin-left: 60%;
}

.next-button-wrapper1 button {
  background-color: #00356B;
  color: white;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  font-size: 100%;
}
