.circle button {
    background: none !important;
    /* padding: 40%, 40%, 40%, 40%;
    border-radius: 100%; */
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* top: 22.5px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-circle {
    background-color: #00356B !important;
    color: white;
}