header {
    height: 70px;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    height: 50px;
    margin-left: 30px;
  }